/*
 *  pelican-wasteofspace
 *  a basic personal website theme for the pelican staic site generator
 *
 *  Author: Mitch Jackson (mitch @@ mitchjacksontech.com)
 *  License: GNU
 *
 */

/*
 * Page formatting
 */
body {
    color: #440000;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

    background-image: url('/theme/images/page-background.png');
    background-repeat: repeat;
    background-color: #aaa;
}
a {
    color: #440000;
}
a:hover {
    color: #004400;
    text-decoration: none;
}


/*
 * Header formatting
 */
.header {
    background-image: none;
    background-color: white;
    text-align: center;

    border-bottom: 2px solid #444;
}
.header-img {
    margin: .5em auto;
    max-height: 300px;
}
.sitename {
    font-size: 2.5em;
    line-height: 90%;
    padding-top: .25em;

}
.sitesubtitle {
    padding-bottom: .5em;
    color: #caa;
    font-size: .95em;
}

/*
 * Navigation formatting
 */
.topnav {
    margin: 1em auto;
    display: inline;

    font-size: 1.6em;
    vertical-align: middle;

    border-top: 1px solid #99aa99;
    border-bottom: 1px solid #99aa99;
    padding: 0.2em 1em 0 1em;
}
.topnav li {
    display: inline;
}
.topnav a {
    color: #004400;
    padding: .3em;
    margin: 0 .2em;
    font-family: "Arial Black",Gadget,sans-serif;
}
.topnav a:hover {
    background-color: #440000;
    color: white;
}

/*
 * Social icons
 */
.topnav-social {
    margin: .5em 0;
}
.topnav-social a {
    display: inline-block;
    width: 2em;

    padding: .25em .5em 0 .5em;
    margin: 0 .2em;
    border-radius: .25em;

    font-size: 1.3em;
    background-color: #004400;
    color: white;
    text-transform: uppercase;
}
.topnav-social a:hover {
    background-color: #440000;
}

/*
 * Tags navigation panel
 */
.header-tags {
    font-size: 0.8em;
    color: #9999aa;
    background-color: #440000;
    padding-top: .5em;
    padding-bottom: .5em;

    border-bottom: 3px solid #331111;

    -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.4), 0px 10px 20px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.4), 0px 10px 20px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.4), 0px 10px 20px 0px rgba(0,0,0,0.4);
}
.nav-tags {
}
.nav-tags a {
    color: #ccccdd;
    font-size: 1.2em;
    margin: 0 .2em;
}
.nav-tags a:hover {
    color: white;
    text-decoration: none;
}
.nav-tags .hash {
    font-size: 0.85em;
}

/*
 * Article formatting
 */
 article {
     max-width: 768px;

     background-color: white;
     width: 94%;
     margin: 2.5em auto 0 auto;
     padding: 0 0.5em;
     border: 1px solid #885555;
     border-left-width: .25em;

     box-shadow: 2px 6px 10px 0px rgba(85, 85, 85, 0.8);
     -moz-box-shadow: 2px 6px 10px 0px rgba(85, 85, 85, 0.8);
     -webkit-box-shadow: 2px 6px 10px 0px rgba(85, 85, 85, 0.8);
 }
 article p {
     font-size: 1em;
     text-indent: 3em;
 }
 article h2 {
     border-bottom: 1px solid #333;
     margin: 1em 0 0 0;
     font-size: 1.5em;
 }
 article img {
     max-width: 95%;
     display: block;
     height: auto;
     margin: 0.5em auto;
     vertical-align: middle;
     border: 0;
     border-radius: 6px;
 }
 .entry-title {
     font-size: 1.8em;
     font-family: "Arial Black", Arial, sans-serif;
     margin: .25em 0 0 0;
 }
 .entry-meta {
     margin-left: 1em;
 }
 .entry-meta a {
     text-decoration: underline;
 }
 .entry-meta a:hover {
     text-decoration: underline;
 }
 .entry-header {
     border-bottom: 1px solid #bbb;
 }
 .entry-content {
     margin: 1em 0;
 }
 .img-article {
     max-width: 95%;
     margin: .5em auto;
 }

/*
* Additional formatting for Pages
*/
.page h1, .tag-header {
    max-width: 768px;

    font-size: 2.1em;
    text-align: center;

    background-color: white;
    width: 94%;
    margin: 1em auto 0 auto;
    padding: .7em;
    border: 1px solid #885555;
    border-left-width: .25em;

    box-shadow: 2px 6px 10px 0px rgba(85, 85, 85, 0.8);
    -moz-box-shadow: 2px 6px 10px 0px rgba(85, 85, 85, 0.8);
    -webkit-box-shadow: 2px 6px 10px 0px rgba(85, 85, 85, 0.8);
}

/*
* Footer formatting
*/
.footer {
    background-image: none;
    background-color: #666;

    margin-top: 5em;
    border-top: 3px solid #440000;

    -webkit-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.4), 0px 10px 20px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.4), 0px 10px 20px 0px rgba(0,0,0,0.4);
    box-shadow: inset 0px 10px 20px 0px rgba(0,0,0,0.4), 0px 10px 20px 0px rgba(0,0,0,0.4);

    color: #bbb;
    font-size: 0.95em;
    font-family: Courier,monospace;

}
.footer-inner {
    width: 74%;
    max-width: 768px;
    margin: 1em auto 0 auto;
}
.footer ul {
    list-style: none;
    text-indent: 0;
}
.footer li {
    text-indent: 0;
}
.footer a {
    color: #ddd;
}
.footer a:hover {
    color: white;
    text-decoration: none;
}
.footer-left {
    text-align: left;
}
.footer-right {
    text-align: right;
}

/*
 * Table formatting
 */
table {
    background-color: #ccc;
    margin: 2em 0;
    padding: .25em;
    border: 1px solid #999;
    border-spacing: .10em;
    border-collapse: separate;
}
th, td {
    margin: .25em;
    padding: .25em;
    background-color: #fff;
    border: solid 1px #bbb;
    border-spacing: .25em;
    border-collapse: separate;
}
th {
    background-color: #440000;
    color: #fff;
}
